body {
	/* background: linear-gradient(to left, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)); */
	background: black;
	color: white;
}



.app {
	width: 400px;
	margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'clear_sans_mediumregular';
}

* {
	box-sizing: border-box;
}

@media (min-width: 1024px)  {

	.app {
		float: right;
		margin-right: 50px;

	}

}
