.widget-wrapper {
	background: none;
	border-radius: 6px;
	box-shadow: rgb(50 50 93 / 3%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
	display: flex;
	color: white;
	flex-direction: column;
	margin: 0 10px 40px;
	position: relative;
}

.widget-body {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 16px;
	align-items: center;
	justify-content: center;
	opacity: 1;
}
/* 
.widget-wrapper > *:not(.heading) {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 16px;
	align-items: center;
	justify-content: center;
	opacity: 1;
} */