body {
	background-color: #ff3cac !important;
	background-image: linear-gradient(
		225deg,
		#ff3cac 0%,
		#784ba0 50%,
		#2b86c5 100%
	) !important;
	background-attachment: fixed;
}

.cloud {
	fill: none;
	stroke: #3996d2;
	stroke-width: 1px;
}

.sun {
	fill: none;
	stroke: #f1c413;
}

.rain {
	stroke: #2980b9;
}

.outline {
	fill: none;
}

.mask {
	fill: black;
	stroke: black;
	stroke-width: 10px;
}

.noscale * {
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}
