.events {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr;
  font-size: 12px;
  grid-gap: 20px 10px;
}

@media (min-width: 1024px) {
  .events {
    grid-template-columns: 2fr 1fr;
  }
}



.event__name {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.event__name .wrap {
  width: fit-content;
  display: flex;
  position: relative;
}

.event__name .wrap span {
  position: relative;
}

.event__name .wrap span + span:not(.animated) {
  display: none;
}

.event__name .wrap span.animated {
  padding-right: 30px;
  animation: marquee 8s linear infinite;
}

.event__name .wrap span.animated:after {
  content: "\2022";
  position: absolute;
  right: 13px;
  color: #2980b9;
}

.event__date {
  text-align: right;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
