div.heading {
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin: 0;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #999999;
}

.subtitle {
	color: #d1d1d1;
	display: inline;
}

.lastUpdated {
	display: inline-block;
	font-size: 10px;
	font-weight: 300;
	margin-right: 5px;
}

.lastUpdated--fetching {
	opacity: 0.2;
}

i.icon {
	display: inline-block;
	line-height: 20px;
}

.updateInfo {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.title {
	display: inline-block;
}
